:root {
  --primary: #b6895b;
  --bg: #010101;
}
html {
  scroll-behavior: smooth;
  /* 25 */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  /* Dapat digunakan untuk menyamadengan kan dengan sebelumnya "var(--bg) */
  color: #fff;
  /* min-height: 5000px; */
}

/* Navbar start */

.navbar {
  display: flex;
  /* 4 */
  justify-content: space-between;
  /* 5 */
  align-items: center;
  /* 6 */
  padding: 1.4rem 7%;
  /* 7 dan 8*/
  background-color: rgba(1, 1, 1, 0.8);
  /* 9 */
  border-bottom: 1px solid #5b442d;
  /* 10 */
  position: fixed;
  /* 11 */
  top: 0;
  /* 12 */
  left: 0;
  /* 13 */
  right: 0;
  /* 14 */
  z-index: 9999;
  /* 15 */
}

/* Mengatur elemen di dalam navbar */
.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  /* 16 */
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  /* 17 */
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  /* 18 */
  transition: 0.2s linear;
  /* 20 */
}

.navbar .navbar-nav a:hover::after {
  /* 19 */
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #ffffff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}
#hamburger-menu {
  /* 21 */
  display: none;
}
/* Navbar search start */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  /* 26 */
  transform-origin: top;
  /* 27 */
  transition: 0.3s;
}

.navbar .search-form.active {
  /* *6 */
  transform: scaleY(1);
}
.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}
.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}
/* Navbar search end */
/* Navbar end */
/* Hero Queries */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../Gambar/Hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
/* Membuat gradasi */
.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  background: linear-gradient(0deg, rgba(1, 1, 3, 1) 16%, rgba(255, 255, 255, 0) 50%);
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1;
}
.hero .content .sub {
  font-size: 3em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .sub span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  /* mix-blend-mode: difference; */
  /* 1 */
}
.hero .content .cta {
  margin-top: 1rem;
  display: inline-flex;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #ffffff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
/* Hero section end */
/* About section */
.about,
.menu,
.kontak {
  padding: 8rem 7% 1.4rem;
}
.about h2,
.menu h2,
.kontak h2 {
  text-align: center;
  font-size: 2.6rem 7%;
  margin-bottom: 3rem;
}
.about h2 span,
.menu h2 span,
.kontak span {
  color: var(--primary);
}
.about .row {
  display: flex;
}
.about .row .about-img {
  flex: 1 1 45rem;
}
.about .row .about-img img {
  width: 100%;
}
.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 1.6;
}
/* About section end */
/* Menu section */
.menu h2,
.kontak h2 {
  margin-bottom: 1rem;
}
.menu p,
.kontak p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.6;
}
.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.menu .row .menu-card img {
  width: 50%;
  padding: 1rem;
  /* border-radius: 50%; */
  /* border-right: 20%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border-top-right-radius: 20%;
  border-top-left-radius: 20%; */
}

.menu .row .menu-card .menu-card-title {
  margin: 1rem auto 0.5rem;
}

.menu .row .menu-card .merg {
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  max-width: 40rem;
  font-size: 1rem;
}

.menu-card {
  text-align: center;
}
/* Menu section end */
/* Kontak section */
.kontak .row {
  display: flex;
  margin-top: 2rem;
  background: #222;
  /* flex-wrap: wrap; */
}

.kontak .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}
.kontak .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}
.kontak .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.kontak .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: #010101;
  color: #fff;
}
.kontak .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
}
/* Kontak section end */
/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}
footer .socials a {
  color: #fff;
  margin: 1rem;
}
footer .socials a:hover {
  color: var(--bg);
}

footer .links a:hover {
  color: var(--bg);
}
footer .links {
  margin-bottom: 1.4rem;
}
footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}
footer .credit {
  font-size: 0.8rem;
}
footer .credit a {
  color: #010101;
  font-weight: 400;
}
footer .credit a:hover {
  color: #fff;
}
/* Footer end */
/* Media Queries */
/* 22 */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    /* 23 */
    background-color: #ffffff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: #010101;
    display: block;
    /* 24 */
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
  .about .row {
    flex-wrap: wrap;
  }
  .about .row .about-img img {
    height: 24rem;
    object-position: center;
    object-fit: cover;
  }
  .about .row .content {
    padding: 0;
  }
  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .about .row .content p {
    font-size: 1.6rem;
  }
  .kontak .row {
    flex-wrap: wrap;
  }
  .kontak .row .map {
    height: 30rem;
  }
  .kontak .row form {
    padding-top: 0;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
