:root {
  --primary: #b6895b;
  --bg: #010101;
}
html {
  scroll-behavior: smooth;
  /* 25 */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  /* Dapat digunakan untuk menyamadengan kan dengan sebelumnya "var(--bg) */
  color: #fff;
  /* min-height: 5000px; */
}

/* Navbar start */

.navbar {
  display: flex;
  /* 4 */
  justify-content: space-between;
  /* 5 */
  align-items: center;
  /* 6 */
  padding: 1.4rem 7%;
  /* 7 dan 8*/
  background-color: rgba(1, 1, 1, 0.8);
  /* 9 */
  border-bottom: 1px solid #5b442d;
  /* 10 */
  position: fixed;
  /* 11 */
  top: 0;
  /* 12 */
  left: 0;
  /* 13 */
  right: 0;
  /* 14 */
  z-index: 9999;
  /* 15 */
}

/* Mengatur elemen di dalam navbar */
.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  /* 16 */
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  /* 17 */
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  /* 18 */
  transition: 0.2s linear;
  /* 20 */
}

.navbar .navbar-nav a:hover::after {
  /* 19 */
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #ffffff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}
#hamburger-menu {
  /* 21 */
  display: none;
}
/* Navbar search start */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  /* 26 */
  transform-origin: top;
  /* 27 */
  transition: 0.3s;
}

.navbar .search-form.active {
  /* *6 */
  transform: scaleY(1);
}
.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}
.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}
/* Navbar search end */

/* Navbar Keranjang start */
/* Tampilan keranjang pada navbar start */
#shopping-cart-btn {
  position: relative;
}
#shopping-cart-btn .jumlah-barang {
  display: inline-block;
  padding: 1px 5px;
  background-color: red;
  border-radius: 6px;
  font-size: 0.8rem;
  position: absolute;
  top: 0;
  right: -10px;
}
/* end */
.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 35rem;
  padding: 0 1.5rem;
  color: var(--bg);
  background-color: #fff;
  transition: 0.3s linear;
  /* 33 */
}

.shopping-cart .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #333;
  /* 31 */
  position: relative;
  /* 32 */
}
.shopping-cart h3 {
  font-size: 1.4rem;
  /* padding-bottom: 0.5rem; */
}

.shopping-cart .item-price {
  font-size: 1.2rem;
}
.shopping-cart .cart-item #add,
.shopping-cart .cart-item #remove {
  display: inline-block;
  padding: 2px 5px;
  cursor: pointer;
  margin: 0px;
  background-color: black;
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
}

.shopping-cart .remove-item:hover {
  color: var(--primary);
}

.shopping-cart img {
  height: 4rem;
  border-radius: 50%;
}
.shopping-cart.active {
  right: 0;
}
.shopping-cart h4 {
  font-size: 1.6rem;
  margin-top: -1rem;
  text-align: center;
}
/* Form Checkout start */
.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px dashed black;
  margin-top: 1rem;
  padding: 1rem;
}
.form-container h5 {
  text-align: center;
  font-size: 1rem;
}
.form-container label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}
.form-container span {
  text-align: right;
}
.form-container input {
  background-color: #ddd;
  padding: 5px;
  font-size: 1rem;
  width: 70%;
}
.form-container .checkout-btn {
  padding: 6px 14px;
  background-color: royalblue;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 20px;
  margin: 1rem auto;
  cursor: pointer;
}
.form-container form {
  width: 100%;
  text-align: center;
}
/* Form Checkout end */
/* Navbar Keranjang end */
/* Navbar end */
/* Hero Queries */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../Gambar/Hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 100%);
}
/* Membuat gradasi */
/* .hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  background: linear-gradient(0deg, rgba(1, 1, 3, 1) 16%, rgba(255, 255, 255, 0) 50%);
} */

.hero .content {
  padding: 1.4rem 7%;
  /* max-width: 60rem; */
  width: 90%;
  text-align: center;
  position: fixed;
  top: 150px;
}

.hero .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1;
}
.hero .content .sub {
  font-size: 3em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .sub span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  /* mix-blend-mode: difference; */
  /* 1 */
}
.hero .content .cta {
  margin-top: 1rem;
  display: inline-flex;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #ffffff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
/* Hero section end */
/* About section */
.about,
.menu,
.kontak,
.produk {
  padding: 8rem 7% 1.4rem;
}
.about h2,
.menu h2,
.kontak h2,
.produk h2 {
  text-align: center;
  font-size: 2.6rem 7%;
  margin-bottom: 3rem;
}
.about h2 span,
.menu h2 span,
.kontak span,
.produk span {
  color: var(--primary);
}
.about .row {
  display: flex;
}
.about .row .about-img {
  flex: 1 1 45rem;
}
.about .row .about-img img {
  width: 100%;
  /* -webkit-mask-image: url("../Gambar/coffee-bean-icon.svg");
  -webkit-mask-size: 50%;
  -webkit-mask-repeat: no-repeat;
  -webkkit-mask-position: center; */
}
.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 1.6;
}
/* About section end */
/* Menu section */
.menu h2,
.kontak h2 {
  margin-bottom: 1rem;
}
.menu p,
.kontak p,
.produk p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.6;
}
.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.menu .row .menu-card img {
  width: 50%;
  padding: 1rem;
  /* border-radius: 50%; */
  /* border-right: 20%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border-top-right-radius: 20%;
  border-top-left-radius: 20%; */
}

.menu .row .menu-card .menu-card-title {
  margin: 1rem auto 0.5rem;
}

.menu .row .menu-card .merg {
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  max-width: 40rem;
  font-size: 1rem;
}

.menu-card {
  text-align: center;
}
/* Menu section end */
/* Produk Section start */
.produk .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  /* 28 dan 29 */
  gap: 1.5rem;
  margin-top: 4rem;
}
.produk .produk-card {
  text-align: center;
  border: 1px solid #666;
  padding: 2rem;
}
.produk .produk-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.produk .produk-icons a {
  width: 4rem;
  height: 4rem;
  color: #ffffff;
  margin: 3rem;
  border: 1px solid #666;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.produk .produk-icons a:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.produk .produk-img {
  padding: 0.5rem 0;
}

.produk .produk-img img {
  height: 25rem;
}
.produk .produk-content h3 {
  font-size: 2rem;
}
.produk .produk-star img {
  font-size: 1.7rem;
  padding: 0.8rem;
  color: var(--primary);
}
.produk .produk-star {
  /* 30 */
  /* background: var(--primary);
  -webkit-mask: var(--primary);
  mask: url("../Gambar/star.svg"); */
  fill: var(--primary);
}

.produk .produk-price {
  font-size: 1.3rem;
  font-weight: bold;
}
.produk .produk-price span {
  /* text-decoration: line-through;
  font-weight: lighter;
  font-size: 1rem; */
  color: #fff;
}

/* Produk Section end */
/* Kontak section */
.kontak .row {
  display: flex;
  margin-top: 2rem;
  background: #222;
  /* flex-wrap: wrap; */
}

.kontak .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}
.kontak .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}
.kontak .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.kontak .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: #010101;
  color: #fff;
}
.kontak .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
}
/* Kontak section end */
/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}
footer .socials a {
  color: #fff;
  margin: 1rem;
}
footer .socials a:hover {
  color: var(--bg);
}

footer .links a:hover {
  color: var(--bg);
}
footer .links {
  margin-bottom: 1.4rem;
}
footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}
footer .credit {
  font-size: 0.8rem;
}
footer .credit a {
  color: #010101;
  font-weight: 400;
}
footer .credit a:hover {
  color: #fff;
}
/* Footer end */

/* Modal Box Item start */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-container {
  position: relative;
  background-color: #fefefe;
  color: var(--bg);
  margin: 15% auto;
  padding: 1.2rem;
  border: 1px solid #666;
  width: 80%;
  animation: animateopen 0.5s;
}
.modal .close-icon {
  position: absolute;
  left: 95%;
}

/* Modal Animation start*/
@keyframes animateopen {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* Modal Animation end*/
.modal-container .close-item {
  position: absolute;
  right: 1rem;
}
.modal-content {
  display: flex;
  flex-wrap: nowrap;
}
.modal-content img {
  height: 15rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.modal-content p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 1.2rem;
}
.modal-content a {
  display: flex;
  gap: 1rem;
  width: 12rem;
  background-color: var(--primary);
  margin-top: 1rem;
  padding: 1rem 1.6rem;
}
/* Modal Box Item end */
/* Media Queries */
/* 22 */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }
  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    /* 23 */
    background-color: #ffffff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: #010101;
    display: block;
    /* 24 */
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }
  .about .row {
    flex-wrap: wrap;
  }
  .about .row .about-img img {
    height: 24rem;
    object-position: center;
    object-fit: cover;
  }
  .about .row .content {
    padding: 0;
  }
  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .about .row .content p {
    font-size: 1.6rem;
  }
  .kontak .row {
    flex-wrap: wrap;
  }
  .kontak .row .map {
    height: 30rem;
  }
  .kontak .row form {
    padding-top: 0;
  }
  .modal-content {
    flex-wrap: wrap;
  }
}

/* Mobile Phone */
@media (max-width: 480px) {
  html {
    font-size: 55%;
  }
  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    /* 23 */
    background-color: #ffffff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: #010101;
    display: block;
    /* 24 */
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }
  .about .row {
    flex-wrap: wrap;
  }
  .about .row .about-img img {
    height: 24rem;
    object-position: center;
    object-fit: cover;
  }
  .about .row .content {
    padding: 0;
  }
  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .about .row .content p {
    font-size: 1.6rem;
  }
  .kontak .row {
    flex-wrap: wrap;
  }
  .kontak .row .map {
    height: 30rem;
  }
  .kontak .row form {
    padding-top: 0;
  }
  .modal-content {
    flex-wrap: wrap;
  }
}
